

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var primaryContact = Model.ClientDto.ContactPerson.Where(x => x.IsPrimaryContact).FirstOrDefault();
}

@model ClientDetailsViewModel;
<div class="mb-2">
    <a class="btn btn-link" asp-action="@nameof(HomeController.Index)" asp-controller="Home">Back</a>
</div>
<div class="bg-light py-3 shadow-none row">
    <div class="col">
        <h5>@Model.ClientDto.CompanyName | @Model.ClientDto.LandlineNumber</h5>
        <div><label class="fw-bold me-2 text-black-50">Trading As:</label>@Model.ClientDto.TradingAs</div>
        <div><label class="fw-bold me-2 text-black-50">Client Id:</label> @Model.ClientDto.Id</div>
    </div> 
    <div class="col">
        <h5>Address</h5>
        <div>@Model.ClientDto.Province</div>
        <div>@Model.ClientDto.Address</div>
    </div> 
    <div class="col">
        <h5>Primary Contact Person</h5>
        <div><label class="fw-bold me-2 text-black-50">Name:</label> @primaryContact?.Name</div>
        <div><label class="fw-bold me-2 text-black-50">Email:</label> @primaryContact?.Email</div>
        <div><label class="fw-bold me-2 text-black-50">Phone:</label> @primaryContact?.Phone</div>
    </div>
</div>
<nav class="nav nav-tabs my-2">
    <a class="nav-link active" href="#client-details">Details</a>  
</nav>
<div class="container-fluid app-tabs">
    <div class="app-tab-item" id="client-details">
        <component type="typeof(FormComponent<ClientDto>)" render-mode="ServerPrerendered" param-Model=Model.DetailsFormViewModel ></component>
        <div class="fs-5 my-3">Primary Contact Person</div>
        <component type="typeof(FormComponent<ClientDto>)" render-mode="ServerPrerendered" param-Model=Model.PrimaryContactPersonFormViewModel></component>
            
    </div>
</div>


